---
import "../styles/global.css";
// @ts-ignore
import "@fontsource/geist-sans";
// @ts-ignore
import "@fontsource/jetbrains-mono";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-surface h-full w-full font-sans">
    <Navbar client:load />
    <main
      class="gap-gap-section mx-auto flex w-full max-w-3xl flex-col px-6 py-8 lg:px-0"
    >
    </main>
  </body>
</html>
